@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
:root {
  --red: #f04259;
  --blue: #256dda;
  --primary: var(--blue);
  --text-color-500: hsl(0, 0%, 10%);
  --text-color-400: hsl(0, 0%, 25%);
  --text-color-300: hsl(0, 0%, 50%);
  --text-color-200: hsl(0, 0%, 80%);
  --text-color-100: hsl(0, 0%, 90%);
  --text-color-50: hsl(0, 0%, 99%);
  --text-color: var(--text-color-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--text-color-50);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 10px;
  color: var(--primary);
}

.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

nav {
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid var(--text-color-100);
}
nav > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a {
  color: var(--text-color);
}
nav .title {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.5em;
  color: var(--primary);
  text-transform: uppercase;
}
nav ul {
  display: flex;
  gap: 1.22em;
  list-style: none;
  font-size: 1.2em;
  font-weight: 300;
}
nav ul li.active a {
  font-weight: 400;
  color: var(--primary);
}
nav ul li a:hover {
  color: var(--primary);
}

section {
  padding: 50px 0;
}

.blogs {
  width: 100%;
  max-width: 700px;
  margin-bottom: 10px;
}
.blogs .blog-preview {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  border: 1px solid var(--text-color-100);
}
.blogs .blog-preview:hover {
  border-color: #fff;
  box-shadow: 0px 5px 30px -8px #ddd;
}
.blogs .blog-preview:hover .delete-btn {
  opacity: 1;
}
.blogs .blog-preview .title {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--text-color-500);
}
.blogs .blog-preview .author {
  font-size: 0.9em;
  font-weight: 300;
  color: var(--text-color-300);
}
.blogs .blog-preview .delete-btn {
  opacity: 0;
  border: none;
  padding: 5px;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1em;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--red);
  font-family: "Poppins", sans-serif;
  transition: 0.4s ease-in-out;
}

.loading {
  font-size: 1.5em;
  color: var(--text-color-300);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/*# sourceMappingURL=index.css.map */
